extends ./base.pug

block head
  title Going tonight?
  script(src='/static/js/app.js')

block body
  div(class='jumbotron bg-primary place-search')
    div(class='login-bar')
      - var displayStr = userName?('Logged in as '+userName+'.'):'Not logged in.';
      span #{displayStr}
      if userName
        a(class='btn btn-primary', href='/auth/logout', role='button')
          i(class='fa fa-sign-out', aria-hidden='true')
          | &nbsp;Log Out
      else
        a(class='btn btn-primary', href='/auth/', role='button')
          i(class='fa fa-twitter', aria-hidden='true')
          | &nbsp;Log In using Twitter
    h1(class='text-xs-center') Where do you want to go?
    form(method='post', id='search-form', class='form-inline', action='/api/s/')
      - var isLoggedIn = userName?'yes':'no';
      input(type='hidden', id='isLoggedIn', value=isLoggedIn)
      input(type='hidden', id='_csrf', name='_csrf', value=csrfToken)
      div(class='input-group')
        - var currentSearch = lastSearch?lastSearch:'';
        input(class='form-control', type='text', name='keyword', id='keyword', value=currentSearch, placeHolder='Enter your location here.')
        span(class='input-group-btn')
          button(type='submit', class='btn btn-primary')
            i(class='fa fa-search', aria-hidden='true')
            | &nbsp;Search
  div(id='results-container')
